.card-container {
  height: 370px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s;
}

.card-container:hover {
  transform: scale(1.05);
}

.image-part {
  height: 225px;
  overflow: hidden;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-part {
  padding: 15px;
  text-align: center;
}

.content-part p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #0056b3;
}
