.footer-container2 {
  background-color: black;
  color: #fff;
  padding: 50px 30px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-image2 {
  flex: 1;
  min-width: 150px;
}

.footer-image2 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.footer-links2,
.footer-contact2,
.footer-social2 {
  flex: 1;
  min-width: 220px;
  margin: 20px;
}

.footer-links2 h4,
.footer-contact2 h4,
.footer-social2 h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-links2 ul {
  list-style: none;
  padding: 0;
}

.footer-links2 li {
  margin: 12px 0;
}

.footer-link2 {
  color: #d9e4ec;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 0.9rem;
}

.footer-link2:hover {
  color: #3282b8;
}

.footer-social2 .social-icons2 {
  display: flex;
  justify-content: center;
}

.social-icon2 {
  margin: 0 15px;
  color: #d9e4ec;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 0.9rem;
}

.social-icon2:hover {
  color: #3282b8;
}

.footer-bottom2 {
  margin-top: 30px;
  font-size: 0.8rem;
  border-top: 1px solid #444;
  padding-top: 15px;
}
