.service-card {
  border: 2px solid #e0e0e0; /* Light grey border */
  border-radius: 10px; /* Slightly more rounded corners */
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  overflow: hidden;

  width: 80%; /* Use full width for responsiveness */
  max-width: 400px; /* Max width for card */
  background-color: #fff; /* White background */
  transition: transform 0.2s, box-shadow 0.2s; /* Transition for hover effect */
}

.service-card:hover {
  transform: translateY(-2px); /* Lift effect on hover */
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.service-card-image {
  height: 300px; /* Increased height for image */
  overflow: hidden; /* Maintain image bounds */
}

.service-card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* Cover the area */
}

.service-card-content {
  padding: 16px;
}

.service-card-title {
  display: flex;
  align-items: center;
  font-size: 24px; /* Increased font size */
  font-weight: bold;
  color: #333; /* Dark grey text */
  margin-bottom: 10px;
}

.service-card-rating {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #666; /* Medium grey */
}

.verified-badge,
.top-search {
  margin-left: 10px; /* Space between elements */
  font-size: 14px;
  color: #4caf50; /* Green for verified */
}

.service-card-location {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666; /* Medium grey */
  margin: 8px 0;
}

.service-card-location img {
  margin-right: 6px;
  filter: grayscale(100%);
  heigth: 200px;
  width: 200px; /* Black and white */
}

.service-card-services {
  font-size: 14px;
  color: #000; /* Black text */
  margin: 12px 0; /* Spacing above and below */
}

.service-card-actions {
  display: flex;
  justify-content: space-between; /* Space between buttons */
  gap: 10px; /* Space between buttons */
}

.call-action-button,
.enquiry-button,
.whatsapp-action-button {
  flex: 1;
  padding: 12px; /* Increased padding for buttons */
  border: 1px solid #e0e0e0; /* Light grey border */
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ffffff; /* White background */
  color: #333; /* Dark grey text */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.call-action-button:hover,
.enquiry-button:hover,
.whatsapp-action-button:hover {
  background-color: #f0f0f0; /* Light grey on hover */
  border-color: #aaa; /* Darker grey border on hover */
}

.service-card-enquiries {
  font-size: 12px; /* Smaller font for enquiries */
  color: #999; /* Lighter grey */
  margin-top: 10px;
  text-align: center; /* Centered text */
}
